header {
    position: relative;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

.logo {
    font-family: 'Rock Salt', cursive;
    font-size: 22px;
}

.nav {
    display: flex;
}

.link {
    margin-left: 15px;
    color: #222;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.intro {
    position: relative;
    margin: 20px 0;
    background: url('../../img/intro.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 400px;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    box-shadow: 2px 2px 13px -2px rgba(34, 60, 80, 0.2);
}

.intro::after {
    content: 'The best for your life';
    position: absolute;
    top: 70px;
    left: 50px;
    width: 200px;
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-shadow: 3px 3px 10px #000000;
}

.intro::before {
    content: 'at reasonable prices';
    position: absolute;
    top: 225px;
    left: 50px;
    width: 200px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(255, 255, 255, 0.8);
    text-shadow: 3px 3px 10px #000000;
}

.shopBasketBtn {
    position: relative;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    transition: color, transform .3s linear;
}

.shopBasketBtn:hover,
.shopBasketBtn.active {
    color: #ff8282;
    transform: scale(1.3);
}

.shopBasketBtn:hover ~ .basketAmount,
.shopBasketBtn.active ~ .basketAmount {
    transform: translate(1px, -1px)
}

.shopBasket {
    position: absolute;
    top: 50px;
    right: 30px;
    max-width: 350px;
    padding: 20px;
    padding-bottom: 0;
    background-color: #fff;
    box-shadow: 0px 4px 30px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px 0 20px 20px;
    z-index: 100;
}

.basketAmount {
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #924700;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    transition: transform .3s linear;
}

.nothing {
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;

}

.sum {
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 25px;
}
